<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296423810503-6sgde6fa9q5an0hsbrkk58kruta8lg23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296423810503-6sgde6fa9q5an0hsbrkk58kruta8lg23</string>
	<key>API_KEY</key>
	<string>AIzaSyClWbjBIpc-S08kt2INHSJKVwY7kS5-csM</string>
	<key>GCM_SENDER_ID</key>
	<string>296423810503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.axetop.timer</string>
	<key>PROJECT_ID</key>
	<string>timer-c0bce</string>
	<key>STORAGE_BUCKET</key>
	<string>timer-c0bce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296423810503:ios:7f8eb4120f86a5eaeae5e2</string>
</dict>
</plist>